.FormattedDate h1,
h2 {
  line-height: 48px;
  font-weight: 900;
  text-align: center;
}

.FormattedDate h2 {
  color: #0b0f13;
  font-size: 26px;
  font-family: "Bodoni Moda", serif;
}
.FormattedDate .time {
  font-size: 30px;
  font-weight: 900;
  font-family: "Fredericka the Great", cursive;
}

.FormattedDate h1 {
  color: #42a5f5;
  font-size: 52px;
  font-family: "Parisienne";
  padding-top: 10px;
}
